/* Coolors Exported Palette - coolors.co/000505-817f75-f3efe0-dcc48e-d8cbc7 */

/* HSL */
$color1: hsla(180%, 100%, 1%, 1);
$color2: hsla(50%, 5%, 48%, 1);
$color3: hsla(47%, 44%, 92%, 1);
$color4: hsla(42%, 53%, 71%, 1);
$color5: hsla(14%, 18%, 81%, 1);

/* RGB */
$color1: rgba(0, 5, 5, 1);
$color2: rgba(129, 127, 117, 1);
$color3: rgba(243, 239, 224, 1);
$color4: rgba(220, 196, 142, 1);
$color5: rgba(216, 203, 199, 1);