* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

.container-fluid {
  background-color: #FFA500;
}

#titleBar  {
  background-color: #00BFFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 4px 4px 0px rgba(0,0,0,0.3);
}

.title {
  font-family: Alegreya, serif;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0,0,0, 0.3);
}

.navbar {
  background-color: #00BFFF;
  margin: 0;
  padding: 0;
}

.topMenu, .menu {
  font-family: Alegreya, serif;
  color: #ffffff;
  font-size: 1.1em;
}

.topMenu {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(20%);
          transform: translateY(-50%) translateX(20%);
}
.active {
  font-style: strong;
}

.container-fluid {
  background-image: url(https://source.unsplash.com/user/thepootphotographer/sfL_QOnmy00);
  background-repeat: repeat-x;
  max-width: 994px;
  height: auto;
}
 
.container {
  width: 90%;
}
.content {
  background-color: #ffffff;
  margin: 5% auto;
}

.th {
  font-family: Alegreya, serif;
  color: #000000;
  text-shadow: 1px 1px rgba(0,0,0, 0.3);
}

a:hover {
  color: #FF8200;
}

a:visited {
  color: #B2938F;
}

table {
  font-size: .95em;
}

.fa {
  font-size: .75em;
  color: #FFC125;
}