* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.container {
  margin: auto;
  height: 100vh;
}

#studio {
  font-family: 'Oswald', sans-serif;
  text-style: oblique;
  font-size: 2em;
  font-weight: 300;
  color: #8B3E2F;
  line-height: 1.1em;
}

h1, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin-top: 2%;
  color: #CD6090;
}

.nav-link {
  color: #8B3A62;
  font-style: oblique;
  text-shadow: 3 3 #000000;
}

a:hover {
  color: #C0B283;
}

a:visited {
  color: #D15FEE;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
overflow: hidden;
  background: none repeat scroll 0 0 #FEF1E9;
}

/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}

row::before, .nav-item, #studio, .col-md-2, .col-lg-2 {
  background-color: #FEF1E9;
}

.carousel:hover {
  cursor: default;
}

.carousel-item {
  width: 100%;
  vertical-align: top;
}

.carousel-text {
  font-size: 0.9em;
  text-align: top;
}

.carousel-caption {
background-color: rgba(139,139,131, 0.2);
position: absolute;
right: 0;
bottom: 0px;
left: 0;
z-index: 10;
padding-top: 0;
padding-bottom: 30px;
color: #fff;
text-align: left;
font-size: 0.8em;
padding-left: 2%;
}

.form-group {
  width: 75%;
}

.custom-select {
  padding-right:4px;
  margin-right: 5px;
}

#select {
  width: 70%;
}

#service {
 font-family: 'Work Sans', sans-serif; 
}

.award {
  margin-top: 2%;
}
.fa {
  font-size: 4em;
  /*Gold text from: https://codepen.io/guestn/pen/cIoqL*/
  color:	#D5AD6D; /*if no support for background-clip*/
	
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
}

.btn-primary {
  margin-top: 16px;
  font-weight: bold;
}

.btn-primary { 
  color: #ffffff; 
  background-color: #CD6090; 
  border-color: #CD6090; 
} 
 
.btn-add:hover, 
.btn-add:focus, 
.btn-add:active, 
.btn-add.active, 
.open .dropdown-toggle.btn-add { 
  color: #ffffff; 
  background-color: #CD6090; 
  border-color: #CD6090; 
} 
 
.btn-add:active, 
.btn-add.active, 
.open .dropdown-toggle.btn-add { 
  background-image: none; 
} 
 
.btn-add.disabled, 
.btn-add[disabled], 
fieldset[disabled] .btn-add, 
.btn-add.disabled:hover, 
.btn-add[disabled]:hover, 
fieldset[disabled] .btn-add:hover, 
.btn-add.disabled:focus, 
.btn-add[disabled]:focus, 
fieldset[disabled] .btn-add:focus, 
.btn-add.disabled:active, 
.btn-add[disabled]:active, 
fieldset[disabled] .btn-add:active, 
.btn-add.disabled.active, 
.btn-add[disabled].active, 
fieldset[disabled] .btn-add.active { 
  background-color: #CD6090; 
  border-color: #CD6090; 
} 
 
.btn-add .badge { 
  color: #ffffff; 
  background-color: #CD6090; 
}

/* Makes images fully responsive */

.img-fluid,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-flow: row nowrap;
  align-items: center;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}